
keybinds {
	
    normal  {
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
		unbind "Ctrl n" 
		// move
		unbind "Ctrl h"
		// scroll
		unbind "Ctrl s"
		unbind "Ctrl p"  
    }
    pane {
        unbind "Ctrl p" { SwitchToMode "Normal"; }
        unbind "h" "Left" { MoveFocus "Left"; }
        unbind "l" "Right" { MoveFocus "Right"; }
        unbind "j" "Down" { MoveFocus "Down"; }
        unbind "k" "Up" { MoveFocus "Up"; }
        unbind "p" { SwitchFocus; }
        unbind "n" { NewPane; SwitchToMode "Normal"; }
        unbind "s" { NewPane "Down"; SwitchToMode "Normal"; }
        unbind "w" { NewPane "Right"; SwitchToMode "Normal"; }
        unbind "x" { CloseFocus; SwitchToMode "Normal"; }
        unbind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        unbind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        unbind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        unbind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }
    tab {
        unbind "Ctrl t" { SwitchToMode "Normal"; }
        unbind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        unbind "h" "Left" "Up" "k" { GoToPreviousTab; }
        unbind "l" "Right" "Down" "j" { GoToNextTab; }
        unbind "n" { NewTab; SwitchToMode "Normal"; }
        unbind "x" { CloseTab; SwitchToMode "Normal"; }
        unbind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        unbind "b" { BreakPane; SwitchToMode "Normal"; }
        unbind "]" { BreakPaneRight; SwitchToMode "Normal"; }
        unbind "[" { BreakPaneLeft; SwitchToMode "Normal"; }
        unbind "1" { GoToTab 1; SwitchToMode "Normal"; }
        unbind "2" { GoToTab 2; SwitchToMode "Normal"; }
        unbind "3" { GoToTab 3; SwitchToMode "Normal"; }
        unbind "4" { GoToTab 4; SwitchToMode "Normal"; }
        unbind "5" { GoToTab 5; SwitchToMode "Normal"; }
        unbind "6" { GoToTab 6; SwitchToMode "Normal"; }
        unbind "7" { GoToTab 7; SwitchToMode "Normal"; }
        unbind "8" { GoToTab 8; SwitchToMode "Normal"; }
        unbind "9" { GoToTab 9; SwitchToMode "Normal"; }
        unbind "Tab" { ToggleTab; }
    }

	tmux {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; }
        bind "j" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "k" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "J" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "K" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }

    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }

    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }

    renamepane {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }

    session {
        bind "Ctrl o" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }

    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        unbind "Alt n" { NewPane; }
        unbind "Alt i" { MoveTab "Left"; }
        unbind "Alt o" { MoveTab "Right"; }
        unbind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        unbind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        unbind "Alt j" "Alt Down" { MoveFocus "Down"; }
        unbind "Alt k" "Alt Up" { MoveFocus "Up"; }
        unbind "Alt =" "Alt +" { Resize "Increase"; }
        unbind "Alt -" { Resize "Decrease"; }
        unbind "Alt [" { PreviousSwapLayout; }
        unbind "Alt ]" { NextSwapLayout; }
    }

    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }

    shared_except "pane" "locked" {
        bind "Ctrl p" { SwitchToMode "Pane"; }
    }

    shared_except "session" "locked" {
        bind "Ctrl o" { SwitchToMode "Session"; }
    }

    shared_except "tab" "locked" {
        bind "Ctrl a" { SwitchToMode "Tab"; }
    }

	shared_except "tmux" "locked" {
        bind "Ctrl t" { SwitchToMode "Tmux"; }
    }
}
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar" 
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

// remove bottom bar 
default_layout "compact"

// make tabs to be blocks (no arrows)
simplified_ui true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
 themes {
    gruvbox-light {
        fg 124 111 100
        bg 251 82 75
        black 40 40 40
        red 205 75 69
        green 152 151 26
        yellow 215 153 33
        blue 69 133 136
        magenta 177 98 134
        cyan 104 157 106
        white 213 196 161
        orange 214 93 14
    }
    gruvbox-dark {
        fg 213 196 161
        bg 40 40 40
        black 60 56 54
        red 204 36 29
        green 152 151 26
        yellow 215 153 33
        blue 69 133 136
        magenta 177 98 134
        cyan 104 157 106
        white 251 241 199
        orange 214 93 14
    }
 }

// Choose the theme that is specified in the themes section.
// Default: default
 theme "gruvbox-light"

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
copy_command "xclip -selection clipboard" // x11

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
scrollback_editor "/usr/bin/nvim"

