[user]
	name = Maxim Khnykin
	email = ebyrdeu.khnykin@gmail.com
	signingkey = B18066BC376C8921

[gpg]
	program = gpg

[commit]
	gpgsign = true

[github]
	user = ebyrdeu

[core]
	autocrlf = input
	safecrlf = warn
	editor = nvim

[init]
	defaultBranch = main

[ui]
	color = always

[color]
	ui = true

[help]
	autocorrect = 1

[diff]
	algorithm = histogram
	indentHeuristic = true

[merge]
	tool = nvim -d

[pull]
	ff = only

[push]
	default = simple

[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 60
	postBuffer = 524288000

[alias]
	st = status
	last = log -1 HEAD --stat
	sl = stash list
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	tree = "log --graph --topo-order --pretty='%w(100,0,6)%C(#b57614)%h%C(bold)%C(#665c54)%d %C(#d65d0e)%ar %C(#689d6a)%an%n%C(bold)%C(#7c6f64)%s %N' --abbrev-commit"
