[user]
    name = Maxim Khnykin
    email = ebyrdeu.khnykin@gmail.com
    signingkey = XXXXXXXXX

[core]
    autocrlf = input
    safecrlf = true
    defaultBranch = main

[commit]
    gpgsign = true

[ui]
    color = always

[color]
    ui = true

[merge]
    tool = nvim -d

[alias]
    c = commit
    s = status
    st = status
    lg = log --oneline
    last = log -1 HEAD
    cl = log -p -- ':(exclude)Cargo.lock'
    f = push --force-with-lease
    ss = "!f() { git stash show stash^{/$*} -p; }; f"
    sa = "!f() { git stash apply stash^{/$*}; }; f"
    sl = stash list

[pull]
    ff = only

[push]
    default = simple

[help]
    autocorrect = 1

[github]
    user = ebyrdeu

