" Base Settings
" =========================================

" General Settings
set clipboard+=unnamed
set scrolloff=2
set number
set relativenumber
set showcmd
set autoindent
set backspace=indent,eol,start

" Search Settings
set hlsearch
set ignorecase
set incsearch
set smartcase

let mapleader = " "

" Idea Specific Settings
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Plugin Settings
" =========================================
set highlightedyank
set NERDTree
set surround
set multiple-cursors
set commentary

" 3rd Party Plugins
set easymotion
let g:EasyMotion_do_mapping=0

" Turn Off Sound Error
set noerrorbells
set visualbell

" Key Mapping
" =========================================

" make missing : less annoying 
nnoremap ; :

" stop searching
nnoremap <C-l> :noh<CR>
vnoremap <C-l> :noh<CR>

" Easy Motion
nmap s <Plug>(easymotion-s2)
nmap S <Plug>(easymotion-sl2)

" Tab Navigation
nnoremap <Tab> :tabnext<CR>
nnoremap <C-Tab> :tabprev<CR>

" Jump Between Methods
nnoremap <C-j>   :action MethodDown<CR>
nnoremap <C-k>   :action MethodUp<CR>

" Move Actions
nnoremap <C-S-j> :action MoveLineDown<CR>
nnoremap <C-S-k> :action MoveLineUp<CR>

" Goto
nnoremap gi  :action GotoImplementation<CR>
nnoremap gt  :action GotoTest<CR>
nnoremap gr  :action FindUsages<CR>

" Jump to Start and End of Line
nnoremap H ^
nnoremap L $

" Center Search Results
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz

" F1 as Escape
nnoremap <F1> <Esc>
inoremap <F1> <Esc>

" Leader Key Mapping
" =========================================

" Paste From System Buffer
inoremap <leader>y :action EditorPaste<CR>

" Create New File
nnoremap <leader>ne :action NewElement<CR>
nnoremap <leader>nf :action NewFile<CR>

" Update Config - Build <C-S-O>
nnoremap <leader>vrr :source ~/.ideavimrc<CR>
nnoremap <leader>hrr :action ExternalSystem.ProjectRefreshAction<CR>

" Menu
nnoremap <leader>mm :action MainMenu<CR>

" Docs
nnoremap <leader>j  :action QuickJavaDoc<CR>
nnoremap <leader>ee :action ShowErrorDescription<CR>

" Search
nnoremap <leader><leader> :action GotoFile<CR>
nnoremap <leader>sr       :action RecentFiles<CR>
nnoremap <leader>ss       /
nnoremap <leader>sa       :action GotoAction<CR>
nnoremap <leader>se       :action SearchEverywhere<CR>
nnoremap <leader>sf       :action FindInPath<CR>

" Generate Commands
nnoremap <leader>ig :action Generate<CR>
nnoremap <leader>ii :action ShowIntentionActions<CR>

" Project View
nnoremap <leader>pv :action ActivateProjectToolWindow<CR>
nnoremap <leader>ps :action SelectInProjectView<CR>

" Code Format
nnoremap <leader>cc :action SilentCodeCleanup<CR>:action ReformatCode<CR>:action OptimizeImports<CR>

" Terminal
nnoremap <leader>to :action ActivateTerminalToolWindow<CR>

" Close Active Tab
map <leader>q :action CloseContent<CR>

" Display
map <leader>dz :action ToggleDistractionFreeMode<CR>
map <leader>dp :action TogglePresentationMode<CR>

" Method Refactor
nnoremap <leader>rq :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rv :action IntroduceVariable<CR>

" Run
nnoremap <leader>rr  :action RunClass<CR>
nnoremap <leader>rtt :action RunTest<CR>
nnoremap <leader>rtc :action RunCoverage<CR>
nnoremap <leader>ru  :action Rerun<CR>
nnoremap <leader>rs  :action Stop<CR>
nnoremap <leader>rc  :action ChooseRunConfiguration<CR>
nnoremap <leader>rd  :action ChooseDebugConfiguration<CR>

" Debug
nnoremap <leader>dd  :action Debug<CR>
nnoremap <leader>da  :action ToggleLineBreakpoint<CR>
nnoremap <leader>dA  :action ToggleMethodBreakpoint<CR>

" Window Splits
nnoremap <leader>wv <C-w>v<CR>
nnoremap <leader>ws <C-w>s<CR>
nnoremap <leader>ww <C-w>w<CR>

nnoremap <leader>wu :action Unsplit<CR>
nnoremap <leader>wh :action HideAllWindows<CR>
nnoremap <leader>wo :action ChangeSplitOrientation<CR>

" Errors
nnoremap <leader>en :action GotoNextError<CR>
nnoremap <leader>ep :action GotoPreviousError<CR>

" Build

" Rust
nnoremap <leader>bc :action Rust.Cargo<CR>

" Maven
nnoremap <leader>bm :action Maven.NavigatorActionsToolbar<CR>

" Git
nnoremap <leader>gp :action Github.View.Pull.Request<CR>
nnoremap <leader>gl :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gc :action ActivateCommitToolWindow<CR>
nnoremap <leader>gf :action Git.Fetch<CR>
nnoremap <leader>gb :action Git.Branches<CR>
nnoremap <leader>gm :action Git.Menu<CR>

