" Base Settings
" =========================================

" General Settings
set scrolloff=8
set number
set relativenumber
set showcmd
set autoindent
set backspace=indent,eol,start

" Search Settings
set hlsearch
set ignorecase
set incsearch
set smartcase

let mapleader = " "

" Idea Specific Settings
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Plugin Settings
" =========================================
set highlightedyank
set NERDTree
set surround
set multiple-cursors
set commentary

" 3rd Party Plugins
set easymotion
let g:EasyMotion_do_mapping=0


" Key Mapping
" =========================================

" make missing : less annoying
nnoremap ; :
inoremap jj <esc>

" stop searching
nnoremap <C-l> :noh<CR>
vnoremap <C-l> :noh<CR>

" Easy Motion
nmap s <Plug>(easymotion-s2)
nmap S <Plug>(easymotion-sl2)

" Tab Navigation
nnoremap <Tab> :tabnext<CR>
nnoremap <C-Tab> :tabprev<CR>

" Jump Between Methods
nnoremap <C-j>   :action MethodDown<CR>
nnoremap <C-k>   :action MethodUp<CR>

" Move Actions
nnoremap <C-S-j> :action MoveLineDown<CR>
nnoremap <C-S-k> :action MoveLineUp<CR>

" Goto
nnoremap gi  :action GotoImplementation<CR>
nnoremap gt  :action GotoTest<CR>
nnoremap gr  :action FindUsages<CR>

" Jump to Start and End of Line
nnoremap H ^
nnoremap L $

" Center Search Results
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz

" Leader Key Mapping
" =========================================
" Paste From System Buffer
nnoremap <leader>pp :action EditorPaste<CR>

" Copy To System Buffer
nnoremap  <leader>y  "+y
vnoremap <leader>y "+y
nnoremap  <leader>Y  "+yg_
nnoremap  <leader>gy  "+ygg

" Undotree
nnoremap <leader>u :action Vcs.RollbackChangedLines<CR>

" Create New File
nnoremap <leader>ne :action NewElement<CR>
nnoremap <leader>nf :action NewFile<CR>

" Update Config - Build <C-S-O>
nnoremap <leader>vrr :source ~/.ideavimrc<CR>
nnoremap <leader>hrr :action ExternalSystem.ProjectRefreshAction<CR>

" Menu
nnoremap <leader>mm :action MainMenu<CR>

" Docs
nnoremap <leader>j  :action QuickJavaDoc<CR>
nnoremap <leader>ee :action ShowErrorDescription<CR>

" Search
nnoremap <leader><leader> :action GotoFile<CR>
nnoremap <leader>sr       :action RecentFiles<CR>
nnoremap <leader>sa       :action GotoAction<CR>
nnoremap <leader>se       :action SearchEverywhere<CR>
nnoremap <leader>sf       :action FindInPath<CR>

" Generate Commands
nnoremap <leader>gg :action Generate<CR>

" Project View
nnoremap <leader>o :action ActivateProjectToolWindow<CR>

" Code Format
nnoremap <leader>cc :action ReformatCode<CR>
nnoremap <leader>co :action OptimizeImports<CR>

" Terminal
nnoremap <leader>to :action ActivateTerminalToolWindow<CR>
nnoremap <leader>tn :action Terminal.NewTab<CR>
nnoremap <leader>tx :action CloseActiveTab<CR>

 " Close Active Tab
map <leader>q :action CloseContent<CR>

" Display
map <leader>dz :action ToggleDistractionFreeMode<CR>
map <leader>zz :action ToggleZenMode<CR>
map <leader>dp :action TogglePresentationMode<CR>

" Method Refactor
nnoremap <leader>rm :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rn :action RenameElement<CR>

" Run
nnoremap <leader>rr  :action RunClass<CR>
nnoremap <leader>ru  :action Rerun<CR>
nnoremap <leader>rs  :action Stop<CR>

" config
nnoremap <leader>rc  :action ChooseRunConfiguration<CR>
nnoremap <leader>dc  :action ChooseDebugConfiguration<CR>

" Debug
nnoremap <leader>dd  :action Debug<CR>
nnoremap <leader>da  :action ToggleLineBreakpoint<CR>
nnoremap <leader>dA  :action ToggleMethodBreakpoint<CR>
nnoremap <leader>di    :action StepInto<CR>
nnoremap <leader>do    :action StepOver<CR>
nnoremap <leader>dO    :action StepOut<CR>

" Window Splits
nnoremap <leader>wv <C-w>v<CR>
nnoremap <leader>ws <C-w>s<CR>
nnoremap <leader>ww <C-w>w<CR>

nnoremap <leader>wu :action Unsplit<CR>
nnoremap <leader>wh :action HideAllWindows<CR>
nnoremap <leader>wo :action ChangeSplitOrientation<CR>

" Errors
nnoremap <leader>en :action GotoNextError<CR>
nnoremap <leader>ep :action GotoPreviousError<CR>

" Build
nnoremap <leader>bc :action Rust.Cargo<CR>
nnoremap <leader>bm :action Maven.NavigatorActionsToolbar<CR>

" Git
nnoremap <leader>gl :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>gc :action ActivateCommitToolWindow<CR>
nnoremap <leader>gm :action Git.Menu<CR>