@define-color foreground #654735;
@define-color foreground-inactive #a89984;
@define-color background #f2e5bc;
@define-color blue #45707a;
@define-color bg_visual_green #d7d9ae;
@define-color bg_visual_red #efd2b3;
@define-color bg_visual_blue #d3d5b8;
@define-color bg_visual_yellow #f3deaa;
@define-color bg_visual_purple #e8d4ba;
@define-color bg_diff_red #f7d9b9;
@define-color bg_diff_green #dfe1b4;
@define-color bg_diff_blue #dbddbf;

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

#waybar {
	font-family: JetBrainsMono Nerd Font;
	font-size: 12pt;
	color: @foreground;
	background-color: @background;
	font-weight: bolder;
}

#workspaces button {
	color: @foreground;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

#workspaces button:hover {
	background: transparent;
}

#workspaces button.empty {
	color: @foreground-inactive;
}

#mode,
#submap {
	background: @blue;
	color: @background;
	padding: 0px 4em;
}


#cpu,
#memory,
#disk,
#temperature {
	padding-left: 0.7em;
	padding-right: 0.7em;
}


#power-profiles-daemonm,
#network,
#pulseaudio,
#battery,
#bluetooth,
#backlight,
#network,
#tray {
	padding-right: 0.7em;
	padding-left: 0.7em;
}